* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  background-color: #1C325B;
  height: 20vh;
}

.nav .logo {
  color: white;
  text-align: center;
  font-size: 3.5em;
  padding: 3vh;
}

.contenedor {
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5vw;
  width: 100%;   
  padding: 4vw;
  color: white;
}

.contenedores {
  width: 27vw;
  height: 60vh;
  border: 1px solid black;
  background-color: #8E1616;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 280px; /* Ancho mínimo para la responsividad */
  max-width: 350px; /* Ancho máximo para mantener un buen diseño */
}

.titulos {
  text-align: center;
  font-size: 2.5em;
  margin-top: 5vh;
}

.filtros{
  text-align: center;
  font-size: 1.5em;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.select{
  width: 13vw;
  text-align: center;
  outline: none;
  color: black;
}
